<style>
.music{
    color: #ed6297;
}

.film{
    color: #2094CA;
}

.book {
    color: #f39c12;
}

.mb30{
    margin-bottom: 30px;
}
</style>


<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
   </div>
<% else %>



<div class="row"><h1>あなたの感動をシェアしましょう。</h1></div>



<div class="row mb30">
    <div class="col-xs-4">
        <h1><span class="glyphicon glyphicon-music music"></span></h1>
        <h4 class="text-center">music</h4>
    </div>
    <div class="col-xs-4">
        <h1><span class="glyphicon glyphicon-film film"></span></h1>
        <h4 class="text-center">movie</h4>
    </div>
    <div class="col-xs-4">
        <h1><span class="glyphicon glyphicon-book book"></span></h1>
        <h4 class="text-center">book</h4>
    </div>
</div>

<div class="row">
    <h2>"heyecan"はトルコ語で「感動」という意味です。</h2>
    

    <h2>
<ul class="list-inline">
        <li class="music">『好きな歌詞』</li>
        <li class="film">『好きなシーンや名言』</li>
        <li class="book">『好きなフレーズ』</li>
    </ul>
    </h2>

        <h2>それぞれみなさん1つはあると思います。</h2>
         <h2>そう言った言葉に感動したり、励まされたこともあると思います。 </h2>
         <h2>ここで、あなただけの"感動集"を作りましょう。そして、友達同士でシェアをしましょう。</h2>
    </div>
    
    
    <div class="center row">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <% end %>